   <form method="post" action="/posts/:id">
     <input type="hidden" name="_method" value="patch" />
     Name: <input type="text" value="<%=@post.name%>" /><br/>
     Content: <input type="text" value="<%=@post.content%>" /><br/>
     <input type='submit' name='Submit' id='submit'/>
   </form>
