   <p>
   <form action='/posts/<%=@post.id%>/delete' method='post'>

     Name: <%=@post.name%></br>
     Content: <%=@post.content%></br>

     <input type='hidden' name='_method' value='delete' id='hidden'/>
     <input type='submit' value='delete'>
   </form>
   </p>
